#holder {
    border: 1px dashed #ccc;
    width: 90%;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    line-height: 200px;
}
#holder.hover { border: 1px dashed #333; }
#chosenColumns {
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 1px dashed #ccc;
    width: 90%;
    margin: 20px auto;
    color: #ccc;
}
#chosenColumns:empty:before {
    content: 'Drag columns here';
}
#chosenColumns li,
#availableColumns li {
    background-color: #eee;
    border: 1px solid #ddd;
    display: inline;
    padding: 5px;
    cursor: grab;
    color: #444;
}
#chosenColumns.hover { border: 1px dashed #333; }
#fileInput {display: none;}
